<nav id="main-nav">
    <div id="main-nav-box" class="nav-position">
        <span id="nav-top-line" class="nav-top-line"></span>
        <span id="nav-center-line" class="nav-center-line"></span>
        <span id="nav-bottom-line" class="nav-bottom-line"></span>
    </div>
    <ul id="main-nav-mobile" class="main-nav-mobile ul-position">
        <li><a href="#biografia">Biografía</a></li>
        <li><a href="#proyectos">Proyectos</a></li>
        <li><a href="#tecnicas">Técnicas</a></li>
        <li><a href="#contacto">Contacto</a></li>
    </ul>
</nav>